<div id="add-product">
    <button class="btn btn-lg btn-outline-dark add-product-btn" (click)="open(mymodal)">Ürün ekle</button>
   
<ng-template #mymodal let-modal>
    <form class="p-4 rounded-lg border m-auto" #myForm="ngForm" (ngSubmit)="submit()">
        <div class="modal-header">
            <h1 class="modal-title" id="modal-basic-title">Ürün ekle</h1>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group row">
                <label for="product-name">Ürün ismi</label>
                <input type="text" id="product-name" class="p-2 rounded border" [(ngModel)]="product.name"
                 name="product-name" required  #name="ngModel">
            </div>

            <div class="form-group row">
                <label for="product-type">Ürün kodu</label>
                <input type="text" id="product-type" class="p-2 rounded border" [(ngModel)]="product.code"
                 name="product-type" required #code="ngModel">
            </div>

            <!-- <div class="form-group row">
                <label for="product-category">Katagori</label>
                <select id="product-category" class="p-2 rounded border">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div> -->

              <div class="form-group row">
                <label for="product-stock">Stok</label>
                <input type="text" id="product-stock" class="p-2 rounded border" placeholder="0" [(ngModel)]="product.inStock"
                 name="product-stock" required #inStock="ngModel">
            </div>

            <div class="form-group row">
                <textarea id="product-detail" class="rounded border"  placeholder="Ürün detayları" [(ngModel)]="product.description" name="product-description"
                  required #description="ngModel"></textarea>
            </div>

            <div class="form-group row">
                <label for="img">Select image:</label>
                    <input type="file" id="img" name="img" accept="image/*" [(ngModel)]="product.images" required #images="ngModel" name="product-image">
            </div>
            
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')" value="Ekle">
        </div>

    </form>
</ng-template>

</div>