<ul class="nav px-5 mt-3 justify-content-center">
  <li *ngFor="let category of categories; let i = index" class="nav-item">
    <a
      *ngIf="category.name !== 'Diğer'"
      class="nav-link link-secondary d-inline"
      style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis"
      [routerLink]="['/', category.name]"
      routerLinkActive="active"
      >{{ category.name + (i === categories.length - 1 ? "" : "") }}
    </a>
    <span *ngIf="category.name !== 'Diğer'">|</span>
  </li>
  <li>
    <a
      class="nav-link link-secondary d-inline"
      style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis"
      [routerLink]="['/Diğer']"
      routerLinkActive="active"
      >Diğer
    </a>
  </li>
</ul>
<div class="d-flex justify-content-center">
  <form class="d-flex m-3 mb-5 w-50">
    <input
      class="form-control p-3 border-primary"
      type="search"
      id="search-bar"
      placeholder="Ürün, kategori veya marka ara"
      aria-label="Search"
      [ngModelOptions]="{ standalone: true }"
      [(ngModel)]="filter"
    />
    <button
      class="btn btn btn-outline-success my-2 my-sm-0 ms-2 px-5"
      id="btn-search"
      type="submit"
      (click)="navigateSearch()"
      [disabled]="!filter"
    >
      Ara
    </button>
  </form>
</div>
