<div class="table-container">
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">İsim</th>
        <th scope="col">Soy İsim</th>
        <th scope="col">Telefon</th>
        <th scope="col">İşlemler</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr class="align-middle" *ngFor="let customer of customers">
        <th scope="row">{{ customer.identityId }}</th>
        <td>{{ customer.firstName }}</td>
        <td>
          {{ customer.lastName }}
        </td>
        <td>
          {{ customer.phoneNumber }}
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="d-flex mt-4 justify-content-center">
  <ngb-pagination
    [collectionSize]="dataCount"
    [(page)]="pageNumber"
    [pageSize]="pageSize"
    (pageChange)="onPageChange($event)"
  ></ngb-pagination>
</div>
