<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <form>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="user">Kullanıcı Adı</label>
              <input type="username" id="user" class="form-control form-control-lg" />
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="pass">Şifre</label>
              <input type="password" id="pass" class="form-control form-control-lg" />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="pass2">Tekrar Şifre</label>
              <input type="password" id="pass2" class="form-control form-control-lg" />
              </div>
  
            <div class="d-flex justify-content-around align-items-center">
              
              <a href="./login">Zaten üyeliğim var.</a>
            </div>
  
            <!-- Submit button -->
            <div class="w-100 mt-5">
                <button type="submit" class="btn btn-primary btn-lg btn-block w-100">Üye ol</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </section>