<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-inline-flex me-2">
        <div class="ratings" style="font-weight: 300; font-size: 18px">
          <i class="fa fa-star rating-color"></i
          ><i class="fa fa-star rating-color"></i
          ><i class="fa fa-star rating-color"></i
          ><i class="fa fa-star rating-color"></i>
          <i class="fa fa-star"></i>
        </div>
      </div>
      <div class="d-inline-flex">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum voluptate officiis laborum, tenetur, cumque dolore ipsum odit eum earum fugit illo ducimus similique dicta sapiente fuga unde soluta cupiditate ipsa.</p>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col">
        <div class="d-inline-flex me-2 details">
            <p class="me-md-2">Burcu Kara</p>
            <p class="me-md-2">|</p>
            <p class="me-md-2">26 Temmuz 2022</p>
            <p class="me-md-2">|</p>
            <i class="fa fa-check tick" aria-hidden="true"></i>
            <p class="approved">Ürünü Satın Aldı</p>
            <p>|</p>
        </div>
    </div>
  </div>
</div>
