

.rating-color{
    color:#fbc634 !important;
}

.tick{
    color: white;
    background-color: green;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 600;
}

.approved{
    color: darkgreen;
    margin-right: 5px;
}

.details{
    font-weight: 300;
}

.rating-count{
    font-weight: 300;
}