<div class="p-4">
  <ul class="list-unstyled mb-4" *ngIf="basketTotals$ | async as totals">
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Ürünlerin Toplam Ücreti</strong>
      <strong>{{ totals.subtotal | currency: "TRY":"symbol" }}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Kargo ve İşlem Ücreti</strong>
      <strong>{{ totals.shipping | currency: "TRY":"symbol" }}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Toplam</strong>
      <strong>{{ totals.total | currency: "TRY":"symbol" }}</strong>
    </li>
  </ul>
</div>
