<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid"
          alt="Phone image"
        />
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form [formGroup]="loginForm" (submit)="login()">
          <!-- Email input -->
          <div class="form-outline mb-4 has-validation">
            <label class="form-label" for="useremail">E-Mail</label>
            <input
              type="email"
              formControlName="email"
              id="useremail"
              class="form-control form-control-lg"
              [ngClass]="{
                'is-invalid': isLoginFormControlInvalid('email'),
                'is-valid': isLoginFormControlValid('email')
              }"
            />
          </div>
          <p
            *ngIf="isLoginFormControlInvalid('email')"
            class="text-danger error-message"
          >
            Bu alan boş bırakılamaz.
          </p>

          <!-- Password input -->
          <div class="form-outline mb-4 has-validation">
            <label class="form-label" for="userpass">Şifre</label>
            <input
              type="password"
              formControlName="password"
              id="userpass"
              class="form-control form-control-lg"
              [ngClass]="{
                'is-invalid': isLoginFormControlInvalid('password'),
                'is-valid': isLoginFormControlValid('password')
              }"
            />
          </div>
          <p
            *ngIf="isLoginFormControlInvalid('password')"
            class="text-danger error-message"
          >
            Bu alan boş bırakılamaz.
          </p>

          <div class="d-flex justify-content-around align-items-center">
            <a [routerLink]="['/register']">Henüz üye değilim.</a>
          </div>

          <!-- Submit button -->
          <div class="mt-5 w-100">
            <button
              type="submit"
              class="btn btn-primary btn-lg btn-block w-100"
              [disabled]="this.loginForm.invalid"
            >
              Giriş Yap
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
