<div
  class="container rounded bg-white mt-5 mb-5"
  style="background-color: antiquewhite"
>
  <div class="row"> <!--Profil görüntüleme ekranı-->
    <div class="col-md-12 border-bottom m-4" > <!--Profil fotografi ve e-mail-->
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img
          class="rounded-circle mt-5"
          width="150px"
          src="https://cdn-icons-png.flaticon.com/512/21/21104.png"
        /><span class="font-weight-bold">User</span
        ><span class="text-black-50">user@gmail.com</span><span> </span>
      </div>
    </div>
    <div class="col-md-6" > <!--Adres Bilgileri-->
      <h4 class="text-right" style="margin-bottom: 20px;">Adres Bilgileri</h4>
      <div class="card w-75">
        <div class="card-body">
          <h5 class="card-title">1. Adres</h5>
          <h6 class="card-subtitle mb-2 text-muted">Ev</h6>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card mt-3 w-75">
        <div class="card-body">
          <h5 class="card-title">2. Adres</h5>
          <h6 class="card-subtitle mb-2 text-muted">İş</h6>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6"> <!-- Profil Display Ekranı-->
      <h4 class="text-right" style="margin-bottom: 20px;">Profil Bilgileri</h4>
      <label for="disabledTextInput" aria-placeholder="asd">İsim</label>
      <form [formGroup]="userDisplayForm" (ngSubmit)="onUserDisplayFormSubmit()">
      <div class="row" style="margin-left:3px;">
          <input formControlName="isim" style="margin-right: 5px;" type="text" id="disabledTextInput" class="form-control w-75" placeholder="x">
          <button style="max-width: 80px;" class="btn btn-primary profile-button w-25" type="submit">
            Değiştir
          </button>
        </div>
        <label for="disabledTextInput" aria-placeholder="asd">Soy İsim</label>
        <div class="row" style="margin-left:3px;">
          <input formControlName="soyIsim" style="margin-right: 5px;" type="text" id="disabledTextInput" class="form-control w-75" placeholder="x">
          <button style="max-width: 80px;" class="btn btn-primary profile-button w-25" type="submit">
            Değiştir
          </button>
        </div>
        <label for="disabledTextInput" aria-placeholder="asd">Şifre</label>
        <div class="row" style="margin-left:3px;">
          <input formControlName="sifre" style="margin-right: 5px;" type="text" id="disabledTextInput" class="form-control w-75" placeholder="x">
          <button style="max-width: 80px;" class="btn btn-primary profile-button w-25" type="submit">
            Değiştir
          </button>
        </div>
        <label for="disabledTextInput" aria-placeholder="asd">Cep Telefonu</label>
        <div class="row" style="margin-left:3px;">
          <input formControlName="telNo" style="margin-right: 5px;" type="text" id="disabledTextInput" class="form-control w-75" placeholder="x">
          <button style="max-width: 80px;" class="btn btn-primary profile-button w-25" type="submit">
            Değiştir
          </button>
        </div>
        
        <div class="row mt-4" style="margin-left:3px; ">
          <button class="btn btn-primary profile-button w-50 mx-auto" type="submit">
            Diğer Ayarlar
          </button>
        </div>
      </form>
      </div>
    </div>
  <div class="row border-top mt-4"> <!--Profil aya-->
    <div class="col-md-6 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Profil Ayarları</h4>
        </div>
        <div class="row mt-2">
          <div class="col-md-6">
            <label class="labels">İsim</label
            ><input
              type="text"
              class="form-control"
              placeholder="first name"
              value=""
            />
          </div>
          <div class="col-md-6">
            <label class="labels">Soyisim</label
            ><input
              type="text"
              class="form-control"
              value=""
              placeholder="surname"
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <label class="labels">Telefon Numarası</label
            ><input
              type="text"
              class="form-control"
              placeholder="enter phone number"
              value=""
            />
          </div>
          <div class="col-md-12">
            <label class="labels">1. Adres</label
            ><input
              type="text"
              class="form-control"
              placeholder="enter address line 1"
              value=""
            />
          </div>
          <div class="col-md-12">
            <label class="labels">2. Adres</label
            ><input
              type="tex"
              class="form-control"
              placeholder="enter address line 2"
              value=""
            />
          </div>
          <div class="col-md-12">
            <label class="labels">Posta Kodu</label
            ><input
              type="text"
              class="form-control"
              placeholder="enter address line 2"
              value=""
            />
          </div>
          <div class="col-md-12">
            <label class="labels">Email ID</label
            ><input
              type="text"
              class="form-control"
              placeholder="enter email id"
              value=""
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <label class="labels">Ülke</label
            ><input
              type="text"
              class="form-control"
              placeholder="country"
              value=""
            />
          </div>
          <div class="col-md-6">
            <label class="labels">Şehir</label
            ><input
              type="text"
              class="form-control"
              value=""
              placeholder="state"
            />
          </div>
        </div>
        <div class="mt-5 text-center">
          <button class="btn btn-primary profile-button" type="button">
            Kaydet
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6 border-right my-auto">
      <div class="mt-5 text-center">
        <button class="btn btn-primary profile-button" type="button">
          Şifre Değiştir
        </button>
      </div>
    </div>
  </div>
</div>
