<div class="my-5">
  <div class="d-flex justify-content-center mb-5">
    <div style="border: 1px solid" class="border-primary rounded w-25">
      <button
        class="btn btn btn-outline-primary rounded border-0 p-3 w-50"
        (click)="tabChange('login')"
      >
        Giriş Yap
      </button>
      <button
        class="btn btn-outline-primary rounded rounded-right border-0 p-3 w-50"
        (click)="tabChange('register')"
      >
        Kayıt ol
      </button>
    </div>
  </div>

  <div class="container" *ngIf="tabId === 'login'">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3">
          <div class="card-body p-4 p-sm-5">
            <h1 class="card-title text-center mb-5 fs-5">GİRİŞ YAP</h1>
            <form [formGroup]="loginForm" (submit)="login()">
              <div class="form-floating mb-3 has-validation">
                <input
                  type="text"
                  class="form-control"
                  id="floatingemail"
                  placeholder="E-Mail"
                  formControlName="email"
                  [ngClass]="{
                    'is-invalid': isLoginFormControlInvalid('email'),
                    'is-valid': isLoginFormControlValid('email')
                  }"
                />
                <label for="floatingemail">E-Mail</label>
              </div>
              <p
                *ngIf="isLoginFormControlInvalid('email')"
                class="text-danger error-message"
              >
                Bu alan boş bırakılamaz.
              </p>
              <div class="form-floating mb-3 has-validation">
                <input
                  type="password"
                  class="form-control"
                  id="floatingPassword"
                  placeholder="Şifre"
                  formControlName="password"
                  [ngClass]="{
                    'is-invalid': isLoginFormControlInvalid('password'),
                    'is-valid': isLoginFormControlValid('password')
                  }"
                />
                <label for="floatingPassword">Şifre</label>
              </div>
              <p
                *ngIf="isLoginFormControlInvalid('password')"
                class="text-danger error-message"
              >
                Bu alan boş bırakılamaz.
              </p>

              <div class="form-check mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="rememberPasswordCheck"
                />
                <label class="form-check-label" for="rememberPasswordCheck">
                  Şifremi hatırla
                </label>
              </div>
              <div class="d-grid">
                <button
                  class="btn btn-primary btn-lg btn-login"
                  type="submit"
                  [disabled]="this.loginForm.invalid"
                >
                  Giriş yap
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Register PART -->
  <div class="container" *ngIf="tabId === 'register'">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3">
          <div class="card-body p-4 p-sm-5">
            <h1 class="card-title text-center mb-5 fs-5">KAYIT OL</h1>
            <form [formGroup]="registerForm" (submit)="register()">
              <div class="form-floating mb-3 has-validation">
                <input
                  type="text"
                  class="form-control"
                  id="floatingEmail"
                  placeholder="E-Mail"
                  formControlName="email"
                  [ngClass]="{
                    'is-invalid': isRegisterFormControlInvalid('email'),
                    'is-valid': isRegisterFormControlValid('email')
                  }"
                />
                <label for="floatingEmail">E-Mail</label>
              </div>
              <p
                *ngIf="isRegisterFormControlInvalid('email')"
                class="text-danger error-message"
              >
                Bu alan boş bırakılamaz.
              </p>

              <div class="form-floating mb-3 has-validation">
                <input
                  type="password"
                  class="form-control"
                  id="floatingPassword"
                  placeholder="Şifre"
                  formControlName="password"
                  [ngClass]="{
                    'is-invalid': isRegisterFormControlInvalid('password'),
                    'is-valid': isRegisterFormControlValid('password')
                  }"
                />
                <label for="floatingPassword">Şifre</label>
              </div>
              <p
                *ngIf="isRegisterFormControlInvalid('password')"
                class="text-danger error-message"
              >
                Bu alan boş bırakılamaz.
              </p>

              <div class="form-floating mb-3 has-validation">
                <input
                  type="password"
                  class="form-control"
                  id="floatingPasswordConfirm"
                  placeholder="Şifre"
                  formControlName="confirmPassword"
                  [ngClass]="{
                    'is-invalid':
                      isRegisterFormControlInvalid('confirmPassword'),
                    'is-valid': isRegisterFormControlValid('confirmPassword')
                  }"
                />
                <label for="floatingPasswordConfirm">Şifre Tekrar</label>
              </div>
              <p
                *ngIf="isRegisterFormControlInvalid('confirmPassword')"
                class="text-danger error-message"
              >
                Bu alan boş bırakılamaz.
              </p>

              <div class="form-floating mb-3 has-validation">
                <input
                  type="text"
                  class="form-control"
                  id="floatingName"
                  placeholder="İsim"
                  formControlName="firstName"
                  [ngClass]="{
                    'is-invalid': isRegisterFormControlInvalid('firstName'),
                    'is-valid': isRegisterFormControlValid('firstName')
                  }"
                />
                <label for="floatingName">İsim</label>
              </div>
              <p
                *ngIf="isRegisterFormControlInvalid('firstName')"
                class="text-danger error-message"
              >
                Bu alan boş bırakılamaz.
              </p>

              <div class="form-floating mb-3 has-validation">
                <input
                  type="text"
                  class="form-control"
                  id="floatingSurname"
                  placeholder="Soyisim"
                  formControlName="lastName"
                  [ngClass]="{
                    'is-invalid': isRegisterFormControlInvalid('lastName'),
                    'is-valid': isRegisterFormControlValid('lastName')
                  }"
                />
                <label for="floatingSurname">Soyisim</label>
              </div>
              <p
                *ngIf="isRegisterFormControlInvalid('lastName')"
                class="text-danger error-message"
              >
                Bu alan boş bırakılamaz.
              </p>

              <div class="form-floating mb-3 has-validation">
                <input
                  type="text"
                  class="form-control"
                  id="floatingPhone"
                  placeholder="Telefon"
                  formControlName="phoneNumber"
                  [ngClass]="{
                    'is-invalid': isRegisterFormControlInvalid('phoneNumber'),
                    'is-valid': isRegisterFormControlValid('phoneNumber')
                  }"
                />
                <label for="floatingPhone">Telefon</label>
              </div>
              <p
                *ngIf="isRegisterFormControlInvalid('phoneNumber')"
                class="text-danger error-message"
              >
                Bu alan boş bırakılamaz.
              </p>

              <div>
                <select class="form-select mb-3" formControlName="city">
                  <option value=" " selected disabled hidden>Şehir</option>
                  <option *ngFor="let city of cities" value="{{ city }}">
                    {{ city }}
                  </option>
                </select>
              </div>
              <p
                *ngIf="isRegisterFormControlInvalid('city')"
                class="text-danger error-message"
              >
                Bu alan boş bırakılamaz.
              </p>

              <div class="form-floating mb-3 has-validation">
                <input
                  type="text"
                  class="form-control"
                  id="floatingAddress"
                  placeholder="Adres"
                  formControlName="address"
                  [ngClass]="{
                    'is-invalid': isRegisterFormControlInvalid('address'),
                    'is-valid': isRegisterFormControlValid('address')
                  }"
                />
                <label for="floatingAddress">Adres</label>
              </div>
              <p
                *ngIf="isRegisterFormControlInvalid('address')"
                class="text-danger error-message"
              >
                Bu alan boş bırakılamaz.
              </p>

              <div class="form-floating mb-3 has-validation">
                <input
                  type="text"
                  class="form-control"
                  id="floatingShop"
                  placeholder="Dükkan Adı"
                  formControlName="storeName"
                  [ngClass]="{
                    'is-invalid': isRegisterFormControlInvalid('storeName'),
                    'is-valid': isRegisterFormControlValid('storeName')
                  }"
                />
                <label for="floatingShop">Dükkan Adı</label>
              </div>
              <p
                *ngIf="isRegisterFormControlInvalid('storeName')"
                class="text-danger error-message"
              >
                Bu alan boş bırakılamaz.
              </p>

              <div class="d-grid">
                <button
                  class="btn btn-primary btn-lg btn-login"
                  type="submit"
                  [disabled]="this.registerForm.invalid"
                >
                  Kayıt ol
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
