<nav class="navbar navbar-dark bg-primary">
  <a [routerLink]="['/']" class="navbar-brand ms-3">
    <img
      src="../favicon.ico"
      alt=""
      width="40"
      height="40"
      class="d-inline-block"
    />
    <span class="ms-md-2">Havelsan Shopping</span>
  </a>
  <div>
    
  </div>
 <div class="d-inline">
  
  <a class="text-decoration-underline nav-link pb-2" [routerLink]="['/seller-login']">Satıcı Ol</a>
  <button type="button" (click)="goToPage('register')" class="btn btn-light me-3">Üye ol</button>
  <button type="button" (click)="goToPage('login')" class="btn btn-light me-3">Giriş Yap</button>
 </div>
</nav>
<router-outlet ></router-outlet>
