<div class="btn-group btn-group-sm">
  <div class="btn btn-outline-primary" (click)="openModal(modal)">Düzenle</div>
  <div class="btn btn-outline-danger" (click)="openModal(confirmDeleteModal)">
    Sil
  </div>
</div>

<ng-template #modal let-modal>
  <form [formGroup]="editCouponForm" (submit)="editCouponSubmit(modal)">
    <div class="modal-header">
      <h1 class="modal-title" id="modal-basic-title">Kupon Düzenle</h1>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <div class="form-outline mb-4 has-validation">
        <label class="form-label" for="amount">Miktar</label>
        <input
          type="number"
          formControlName="amount"
          id="amount"
          class="form-control form-control-lg py-2"
          [ngClass]="{
            'is-invalid': isFormControlInvalid('amount'),
            'is-valid': isFormControlValid('amount')
          }"
        />
      </div>
      <p
        *ngIf="isFormControlInvalid('amount')"
        class="text-danger error-message"
      >
        Bu alan boş bırakılamaz.
      </p>

      <div class="form-outline mb-4 has-validation">
        <label class="form-label" for="status">Durum</label>
        <select class="form-select py-2" formControlName="status" id="status">
          <option value="Active">Aktif</option>
          <option value="Passive">Pasif</option>
        </select>
      </div>
      <p
        *ngIf="isFormControlInvalid('status')"
        class="text-danger error-message"
      >
        Lütfen geçerli bir değer girin.
      </p>

      <div class="div">
        <label class="form-label" for="status">Son Tarih</label>
        <app-datetime-picker
          *ngIf="pickedDate | async"
          (OnDatetimeChanged)="onDatePicked($event)"
          [StartDate]="pickedDate | async"
        ></app-datetime-picker>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="submit"
        class="btn btn-primary w-100"
        [disabled]="editCouponForm.invalid || !isDateValid()"
      >
        Kaydet
      </button>
    </div>
  </form>
</ng-template>

<ng-template #confirmDeleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Kuponu Sil</h4>
    <button
      type="button"
      class="btn-close"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p>
      <strong>
        <span class="text-primary">{{ coupon.code }}</span>
        Kuponunu silmek istediğinize emin misiniz?
      </strong>
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.dismiss('cancel click')"
    >
      İptal
    </button>
    <button type="button" class="btn btn-danger" (click)="deleteCoupon(modal)">
      Sil
    </button>
  </div>
</ng-template>
