<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">İsim</th>
      <th scope="col">Ürün Kodu</th>
      <th scope="col">Kategori</th>
      <th scope="col">Stokta</th>
      <th scope="col">Satıldı</th>
      <th scope="col">Durum</th>
      <th scope="col">İşlemler</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr class="align-middle" *ngFor="let product of products">
      <th scope="row">{{ product.name }}</th>
      <td>{{ product.code }}</td>
      <td>{{ product.category?.name }}</td>
      <td>{{ product.inStock }}</td>
      <td>{{ product.sold }}</td>
      <td>{{ product.status }}</td>
      <td>
        <div class="btn-group btn-group-sm">
          <button type="button" class="btn btn-outline-primary">Düzenle</button>
          <button type="button" class="btn btn-outline-danger">
            Deaktive et
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="d-flex row center">
  <ngb-pagination></ngb-pagination>
</div>
