.form-group{
    margin-bottom: 10px;
}
.form-group textarea{
    height: 80px;
}
.add-product-btn-area{
    display: flex;
}
label{
    padding-left: 0px;
}
.close{
    border: none;
    background-color: transparent;
}
.error-message{
    margin-bottom: 20px;
}