<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Ürün Düzenle</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
    <form class="p-4 rounded-lg border m-auto" #updateForm="ngForm" (ngSubmit)="submitUpdate()">
        <div class="modal-body">
            <div class="form-group row">
                <label for="product-name">Ürün ismi</label>
                <input type="text" id="product-name" class="p-2 rounded border" [(ngModel)]="product.name"
                 name="productname" #productname="ngModel" required >
            </div>

            <div  *ngIf="productname.invalid && (productname.dirty || productname.touched)" class="text-danger error-message">
                Bu alan boş bırakılamaz.
              </div>

            <div class="form-group row">
                <label for="product-type">Ürün kodu</label>
                <input type="text" id="product-type" class="p-2 rounded border" [(ngModel)]="product.code"
                 name="product-type" required #code="ngModel">
            </div>

            <div  *ngIf="code.invalid && (code.dirty || code.touched)" class="text-danger error-message">
                Bu alan boş bırakılamaz.
            </div>

            <div class="form-group row">
                <label for="product-category">Katagori</label>
                <select id="product-category" class="p-2 rounded border">
                  <option>0</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div> 

              <div class="form-group row">
                <label for="product-stock">Stok</label>
                <input type="text" id="product-stock" class="p-2 rounded border" placeholder="0" [(ngModel)]="product.inStock"
                 name="product-stock" required #inStock="ngModel">
            </div>

            <div  *ngIf="inStock.invalid && (inStock.dirty || inStock.touched)" class="text-danger error-message">
                Bu alan boş bırakılamaz.
              </div>


            <div class="form-group row">
                <textarea id="product-detail" class="rounded border"  placeholder="Ürün detayları" [(ngModel)]="product.description" name="product-description"
                  required #description="ngModel"></textarea>
            </div>

            <div  *ngIf="description.invalid && (description.dirty || description.touched)" class="text-danger error-message">
                Bu alan boş bırakılamaz.
              </div>

            <div class="form-group row">
                <label for="img">Select image:</label>
                <input type="file" id="img" name="img" accept="image/*" [(ngModel)]="product.images" name="product-image" >
            </div>
            
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')" value="Düzenle">,
          </div>
    </form>
    </div>
  </ng-template>

  <button type="button" class="btn btn-outline-primary" (click)="open(content)">
    Düzenle
  </button>
